# D5 Transfer Matrix Parameters Template
# Values can be derived from TransferMatrix.param or opt-matrix calculation

# Central momentum [GeV/c]
CentralMomentum: 1.000

# Reference planes [mm] in FF coordinates
D5ZIn: 0.0
D5ZOut: -1300.885

# 1st order matrix (6x6)
D5Matrix: 1
# (6 lines of 6 elements)

# 2nd order matrix (6x6 T-matrix elements for each coordinate 21-25)
# 21: x, 22: theta(u), 23: y, 24: phi(v), 25: delta
D5Matrix: 21
# (6 lines of 6 elements)
D5Matrix: 22
# ... (up to 25)
